---
import BaseHead from '../components/BaseHead.astro';
import Sidebar from '../components/Sidebar.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/Page.astro';
---

<!doctype html>
<Layout title = "About" description = "About">
  <p>
  Hi! I am a computer science and math major at the University of Michigan. I am currently most interested in reinforcement learning research and am working in <u><a href="https://leiying.engin.umich.edu/">Prof. Lei Ying's</a></u> lab. I also work as an Instructional Aide for EECS 203 Discrete Math at UM.
  </p>
</Layout>
