---
import Layout from '../layouts/Page.astro';
---

<Layout
	title="Tech Stack"
	description="Evan's Tech Stack"
>

<div>
<h2 class="font-bolder">Hardware</h2>
ASUS G14 (2021) GA410QM (Laptop)
</br>
Home Server
<ul class="list-disc list-inside">
  <li>Ryzen 5 2600X</li>
  <li>2060 Super</li>
</ul>
Logitech G703 [Worlds Greatest Mouse]
</br>
iPhone 12
</br>
</br>

<h2>Software</h2>
Operating system(s):
<ul class="list-disc list-inside">
  <li>NixOS 24.11 (Laptop) <u><a href="https://github.com/eassmus/NixOS-Config">My Config/Dotfiles</a></u></li>
  <li>Windows 10 (Laptop)</li>
  <li>Debian 12 (Server)</li>
</ul>
Neovim </br>
VSCode </br>
Kitty </br>
Firefox </br>
</div>

</Layout>
